body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

h1 {
  color: #025e4c;
  font-family: 'Bungee Tint', sans-serif;
}

article {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px 0;
}
